<template name="signup">
    <div id="sign-up" class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          {{#if createAccount}}
            <a href="{{pathFor 'entrySignUp'}}" class="btn btn-primary btn-lg with-margins">Get Started</a>
          {{else}}
            <form role="form" class="collectInfo">
              {{#if collectPhone}}
                {{> phoneInput}}
              {{/if}}
              {{#if collectName}}
                {{> nameInput}}
              {{/if}}
              {{#if collectEmail}}
                {{> emailInput}}
              {{/if}}
              <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
            </form>
          {{/if}}
        </div>
      </div>
    </div>
</template>

<template name="phoneInput">
  <div class="form-group">
    <input type="tel" class="form-control phone" id="phone" placeholder="Enter your phone number">
  </div>
</template>

<template name="emailInput">
  <div class="form-group">
    <input type="text" class="form-control email" id="email" placeholder="Enter you email address">
  </div>
</template>

<template name="nameInput">
  <div class="form-group">
    <input type="text" class="form-control" id="name" placeholder="Enter you name">
  </div>
</template>