<template name="createLander">
  <div class="meteor-form">
    <!-- don't add with-bottom-padding to the first column, so it displays on mobile correctly -->
    <div class="col col-lg-6">
      <input id="firstNameInput" type="text" value="Angelo" placeholder="First Name" readonly="">
      <label class="smallgray" for="firstNameInput">First Name</label>

      <input id="companyInput" type="text" value="Reagan, William L Esq" placeholder="Company" readonly="">
      <label class="smallgray" for="companyInput">Company</label>

      <input id="addressInput" type="text" value="3220 E 26th St" placeholder="Address" readonly="">
      <label class="smallgray" for="addressInput">Address</label>

      <input id="cityInput" type="text" value="Los Angeles" placeholder="City" readonly="">
      <label class="smallgray" for="cityInput">City</label>

      <input id="phoneInput" type="tel" value="323-262-5047" placeholder="Phone" readonly="">
      <label class="smallgray" for="phoneInput">Phone</label>

      <input id="webInput" type="url" value="http://www.angeloferentz.com" placeholder="Web" readonly="">
      <label class="smallgray" for="webInput">Website</label>
    </div>
    <div class="col col-lg-6 ">
      <input id="lastNameInput" type="text" value="Ferentz" placeholder="Last Name" readonly="">
      <label class="smallgray" for="lastNameInput">Last Name</label>

      <input id="countyInput" type="text" value="Los Angeles" placeholder="County" readonly="">
      <label class="smallgray" for="countyInput">County</label>

      <input id="stateInput" type="text" value="CAhjlk" placeholder="State" readonly="">
      <label class="smallgray" for="stateInput">State</label>

      <input id="zipInput" type="text" value="90023" placeholder="Zip" readonly="">
      <label class="smallgray" for="zipInput">Zip</label>

      <input id="faxInput" type="tel" value="323-262-8693" placeholder="Fax" readonly="">
      <label class="smallgray" for="faxInput">Fax</label>

      <input id="emailInput" type="email" value="angelo@ferentz.com" placeholder="Email" readonly="">
      <label class="smallgray" for="emailInput">Email</label>
    </div>
    <div class="col col-lg-12 with-bottom-padding">
      <textarea id="notesInput" value="Lorem ipsum..." rows="3" placeholder="Notes" readonly=""></textarea>
    </div>


    <div class="col col-lg-6">
      <input id="passwordInput" type="password" value="Angelo" placeholder="password" readonly="">
      <div class="spacer"></div>

      <input id="dateInput" type="datetime" value="2014-02-01" placeholder="01/01/2013" readonly="">
      <div class="spacer"></div>

      <input id="birthdateInput" type="date" value="2013-08-31" placeholder="01/01/2013" readonly="">
      <div class="spacer"></div>

      <input id="monthInput" type="month" value="2012-01" placeholder="January" readonly="">
      <div class="spacer"></div>

      <input id="weekInput" type="week" value="2017-W18" placeholder="Monday" readonly="">
      <div class="spacer"></div>

      <input id="timeInput" type="time" value="11:6:00" placeholder="12:30 AM" readonly="">
      <div class="spacer"></div>
    </div>
    <div class="col col-lg-6 ">
      <input id="numberInput" type="number" value="467" placeholder="123456" readonly="">
      <div class="spacer"></div>

      <input id="colorInput" type="color" value="##f0fe22" placeholder="#33ff88" readonly="">
      <div class="spacer"></div>
    </div>



    <div class="radio container right with-bottom-padding">
    <label for="optionsRadiosEnabled">Enabled</label>
    <input type="radio" name="acountStatusRadios" id="optionsRadiosEnabled" value="enabled" checked>
    <label for="optionsRadiosDisabled">Disabled</label>
    <input type="radio" name="acountStatusRadios" id="optionsRadiosDisabled" value="disabled">
    </div>

    <br>
    <br>

    <div class="checkboxes">
    <label for="adminCheckbox">admin</label>
    <label for="moderatorCheckbox">moderator</label>
    <label for="userCheckbox">user</label>
    <label for="guestCheckbox">guest</label>

    <input id="adminCheckbox" type="checkbox" value="Admin">
    <input id="moderatorCheckbox" type="checkbox" value="">
    <input id="userCheckbox" type="checkbox" value="">
    <input id="guestCheckbox" type="checkbox" value="" checked>
    </div>





  </div>
</template>