<head>
  <title>CabPool</title>
  <link rel="shortcut icon" href="icon.png" />

  <!--set viewport to device size for responsive layouts-->
  <meta name="viewport" content="initial-scale=1.0">

  <!--apple-->
  <link rel="apple-touch-icon" href="icon.png"  />
  <link rel="apple-touch-icon" sizes="72x72" href="icon.png"  />
  <link rel="apple-touch-icon" sizes="114x114" href="icon.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="icon.png" />
  <link rel="apple-touch-startup-image" href="icon.png">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
</head>

<body>
  <!--[if lt IE 9]>
  <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->
  {{yield}}
</body>







