<template name="landerFooter">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>We made this site with Landr.</h2>
        <p class="lead">Did we mention that we made this page with landr? Create your site in seconds, what are you waiting for?</p>
        <a href="{{pathFor 'entrySignUp'}}" class="btn btn-primary btn-lg with-margins">Get Yours</a>
        <p>Copyright &copy; {{brand}} 2013</p>
      </div>
    </div>
  </div>
</template>