<template name="landerLayout">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h1>{{brand}}</h1>
            <p class="lead">{{lead}}</p>
            {{yield}}
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      {{#with intro}}
        {{> landerIntro}}
      {{/with}}
    </div>

    <div class="section">
      {{> landerServices}}
    </div>

    <div class="section">
      {{> landerFooter}}
    </div>
</template>